<body>
    <header class="header">
        <nav>
            <ul>
                <li><a routerLink="/noteLists" routerLinkActive="active">NoteList</a></li>
                <li><a routerLink="/todos" routerLinkActive="active">Todos</a></li>
                <li><a routerLink="/user" routerLinkActive="active">User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>

    <footer>
        <p>© 2024 My Application. All rights reserved.</p>
    </footer>
</body>