@if(user){
<div class="ui container">
    <div class="ui grid">
        <div class="ui row">
            <div class="four wide column">
                <img class="ui medium rounded image" src="{{user.image}}" alt="User Image">
            </div>
            <div class="twelve wide column">
                <h1 class="ui header">
                    Hello {{user.first_name}} {{user.last_name}}
                    <button class="ui button negative right floated" (click)="logout()">Log Out</button>
                </h1>
                <h2 class="ui dividing header">Daten</h2>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>Beitrittsdatum:</strong> {{user.created_at}}</p>
            </div>
            <div>
                @for(list of pendingLists; track list){
                <div class="ui card">
                    <div class="content">
                        <div class="header">Liste</div>
                        <div class="meta">Erstellt am: {{list.created_at}}</div>
                        <div class="description">
                            <p>ID: {{list.id}}</p>
                            <p>Name: {{list.name}}</p>
                            <p>User ID: {{list.user_id}}</p>
                        </div>
                        <button (click)="acceptList(list.id)">Akzeptieren</button>
                        <button (click)="declineList(list.id)">Ablehnen</button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
}