@if(user){
<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <div class="four wide column">
                <img class="ui medium rounded image" src="{{user.image}}" alt="User Image">
            </div>
            <div class="twelve wide column">
                <h1 class="ui header">
                    Hello {{user.first_name}} {{user.last_name}}
                    <button class="ui negative button right floated" (click)="logout()">Log Out</button>
                </h1>
                <h2 class="ui dividing header">Daten</h2>
                <p><strong>Email:</strong> {{user.email}}</p>
                <p><strong>Beitrittsdatum:</strong> {{user.created_at | date:'dd.MM.yyyy' }}</p>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <h2 class="ui dividing header">Pending Lists</h2>
                <div class="ui cards">
                    @for(list of pendingLists; track list){
                    <div class="ui card">
                        <div class="content">
                            <div class="header">Liste</div>
                            <div class="meta">Erstellt am: {{list.created_at}}</div>
                            <div class="description">
                                <p><strong>ID:</strong> {{list.id}}</p>
                                <p><strong>Name:</strong> {{list.name}}</p>
                                <p><strong>User ID:</strong> {{list.user_id}}</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <button class="ui green button" (click)="acceptList(list.id)">Akzeptieren</button>
                                <button class="ui red button" (click)="declineList(list.id)">Ablehnen</button>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}