<div class="ui container">
    <h1 class="ui huge header">Todos</h1>
    <div class="ui segments">
        @for(todo of todos; track todo){
        <div class="ui segment">
            <div class="ui grid">
                <div class="twelve wide column">
                    <div class="ui checkbox">
                        <input type="checkbox" [checked]="todo.completed" disabled>
                        <label>{{ todo.title }} <br>{{ todo.description }}</label>
                    </div>
                </div>
                <div class="four wide column">
                    <button class="ui tiny red labeled icon button" (click)="deleteTodo(todo.id)">
                      <i class="remove icon"></i> Löschen
                  </button>
                    <a class="ui tiny yellow labeled icon button" (click)="editTodo(todo.id)">
                        <i class="edit icon"></i> Bearbeiten
                    </a>
                </div>
            </div>
            <div class="ui small horizontal list">
                @for(tag of todo.tags; let i = $index; track tag){
                <div class="item">
                    <div class="ui tag label tagStyle">{{ tag.name }}</div>
                </div>
                }
            </div>
        </div>
        }
    </div>