<h1>Notizformular</h1>
<form class="ui large form" [formGroup]="noteForm" (ngSubmit)="submitForm()">
    <div class="field">
        <label for="title">Titel</label>
        <input type="text" id="title" formControlName="title"> @if(errors['title']){
        <div class="ui negative message">{{ errors['title'] }}</div>
        }
    </div>

    <div class="field">
        <label for="description">Beschreibung</label>
        <textarea id="description" formControlName="description" rows="3"></textarea> @if(errors['description']){
        <div class="ui negative message">{{ errors['description'] }}</div>
        }
    </div>

    <div class="field">
        <label for="note_list_id">Notizlisten-ID</label>
        <input type="number" id="note_list_id" formControlName="note_list_id" [disabled]="true"> @if(errors['note_list_id']){
        <div class="ui negative message">{{ errors['note_list_id'] }}</div>
        }
    </div>

    <div class="field">
        <label>Erstellungsdatum</label>
        <input type="date" formControlName="created_at" [disabled]="true">
    </div>

    <div class="field">
        <label>Aktualisierungsdatum</label>
        <input type="date" formControlName="updated_at" [disabled]="true">
    </div>
    @if(todos.controls != null){
    <div class="field" formArrayName="todos">
        @for(todo of todos.controls; let i = $index; track todo){
        <div [formGroupName]="i">
            <div class="field">
                <label>Todo Titel</label>
                <input type="text" formControlName="title" placeholder="Title"> @if(errors['title']){
                <div class="ui negative message">{{ errors['title'] }}</div>
                }
            </div>
            <div class="field">
                <label>Todo Beschreibung</label>
                <input type="text" formControlName="description" placeholder="Beschreibung"> @if(errors['description']){
                <div class="ui negative message">{{ errors['description'] }}</div>
                }
            </div>
            <div class="field">
                <label>Todo Datum</label>
                <input type="date" formControlName="due_date" placeholder="Datum">
            </div>
            <div class="field">
                <label>Todo Erledigt</label>
                <input type="checkbox" formControlName="completed" placeholder="Erledigt">
            </div>
            @if(sharedUsers.length > 1){
            <div class="field">
                <label>Zuweisen an</label>
                <select formControlName="assigned_user_id">
                  <option  default value="-1">Nicht zugewiesen</option>
                  @for(user of sharedUsers; track user){
                  <option [value]="user.id">{{ user.first_name }} {{user.last_name}}</option>
                  }
                </select>
            </div>
            }
            <button class="ui red button" type="button" (click)="deleteTodo(todo)">Entfernen</button>
        </div>
        }
        <button class="ui green button" type="button" (click)="addTodoControl()">Todo hinzufügen</button>
    </div>
    }
    <div class="field" formArrayName="tags">
        <label>Tags</label> @for(tag of tags.controls; let i = $index; track tag){
        <div [formGroupName]="i">
            <input type="text" formControlName="tagName" placeholder="Tag Name">
            <button class="ui red button" type="button" (click)="deleteTag(tag)">Entfernen</button>
        </div>
        }
        <button class="ui green button" type="button" (click)="addTagControl()">Tag hinzufügen</button>
    </div>

    <button type="submit" class="ui button" [disabled]="noteForm.invalid">Speichern</button>
</form>