<div class="ui container">
    <h1 class="ui huge header">Notizen</h1>
    <div class="ui very relaxed segments">
        <div>
            <select class="ui dropdown" (change)="selectedTagFilter($event)">
          <option value="" selected >Alle Tags</option>
          @for(t of tags; track t){
              <option value="{{t.id }}">{{ t.name }}</option>
          }
      </select>
            <button class="ui button teal" (click)="filter()">Suchen</button>
        </div>
        @for (note of notes; track note){
        <div class="ui raised segment">
            <div class="ui grid">
                <div class="twelve wide column">
                    <div class="content">
                        @if(note.img){
                        <img src="{{note.img}}" alt="Bild" class="ui small right floated image"> }
                        <div class="header">{{ note.title }}</div>
                        <div class="description">{{ note.description }}</div>
                        <div class="meta">
                            Created: {{ note.created_at }}, Updated: {{ note.updated_at }}
                        </div>
                        <div class="ui relaxed list">
                            @for(todo of todos; track todo){ @if(todo.note_id == note.id){
                            <div class="item">
                                <div class="ui checkbox">
                                    <input type="checkbox" [checked]="todo.completed">
                                    <label>{{ todo.title }}  @if(todo.assigned_user_id != null){(Zugewiesen an: {{todo.assigned_user_id}})}<br>{{ todo.description }}</label>

                                </div>
                            </div>

                            }}
                        </div>
                        <div class="ui small horizontal list">
                            @for(tag of note.tags; let i = $index; track tag){
                            <a class="ui tag label">{{ tag.name }}</a> }
                        </div>
                    </div>
                </div>
                <div class="four wide column right aligned">
                    <button class="ui tiny red labeled icon button" (click)="deleteNote(note.id)">
                      <i class="remove icon"></i> Löschen
                    </button>
                    <a class="ui tiny yellow labeled icon button" (click)="editNote(note.id)">
                        <i class="edit icon"></i> Bearbeiten
                    </a>
                </div>
            </div>
        </div>
        }
        <button class="ui large green labeled icon button" (click)="addNote()">
          <i class="plus icon"></i> Notiz hinzufügen
        </button>
    </div>
</div>